body {
    
    margin: 0px;
    font-family: Helvetica, sans-serif;
}


.subtext {
    font-size: 18px;
}


button {
    background-color: #3882f6;
    border: #3882f6;
    padding: 10px 25px;
    border-radius: 15px;
    color: #F9FAF8;
    font-size: large;
    font-weight: 900;
}



.navbar, .hero , .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-list {
    display: flex;
    gap: 1em;
    list-style: none;
}

.hero {
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    gap: 20em;
}


.header-text {
    font-size: 28px;
    font-weight: 800;
}


.hero-txt {
    font-size: 50px;
    font-weight: 900;
}




.left-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    max-width: 500px;
    
}

.hero img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
    opacity: 0.8;
}

.hero button {
    align-self: start;
}



.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 550px;
    gap: 3em;
}

.middle-header {
    font-size: 40px;
    font-weight: 900;
    color: #1F2937;


}


.middle div img {
    max-height: 250px;
    max-width: 250px;
   
    border-radius: 25px;
}

.box {
    display: flex;
    text-wrap: wrap;
    max-height: 300px;
}

.info {
    max-width: 300px;
}







.quote {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    white-space: pre-line;
    text-align: center;
    height: 400px;
    width: auto;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
}

.main-quote {
    font-weight: lighter;
    font-style: italic;
}

.quote .quoted-by {
    align-self: self-end;
    padding-right: 550px;
    font-weight: bolder;
    
}





.signup {
    display: flex;
    background-color: #1F2937;
    margin: 150px auto;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 130px;
    border-radius: 20px;
}

.signup-left {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 500;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}


